
:root {
    --text: #2a2728;
    --accent: #5bd485;
    --bg: #f7f7f7;
    --white: #fff;
    --navbar: #090f1b;
}

body {
    background-image: url("../assets/bg/dorm.png");
    background-size: cover;
    background-position: center;
}

#player {
    position: absolute;
    z-index: 0;
    top: 60px;
    left: calc(50vw - 250px);
    width: 100%;
    max-width: 500px;
    height: calc(100vh - 140px);
    overflow: hidden;
}

#chr{
    position: absolute;
    z-index: 1;
}

#chr1{
    position: absolute;
    width: 400px;
    top: calc(100vh - 800px);
    left: calc(135px - 200px);
}

#chr2{
    position: absolute;
    width: 400px;
    top: calc(100vh - 800px);
    left: calc(365px - 200px);
}

#chr0{
    position: absolute;
    width: 400px;
    top: calc(100vh - 800px);
    left: calc(250px - 200px);
}

#lineBox{
    position: absolute;
    z-index: 2;
    height: 300px;
    top: calc(100vh - 380px);
}

#name{
    position: absolute;
    z-index: 4;
    background-color: var(--accent);
    color: var(--white);
    height: 2.7rem;
    line-height: 2.7rem;
    width: 100vw;
    max-width: 200px;
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 0 20px;
    left: 50px;
    overflow: hidden;
}

#line{
    position: absolute;
    z-index: 3;
    background-color: var(--bg);
    color: var(--text);
    height: 190px;
    width: 450px;
    top: 20px;
    left: 25px;
    border-radius: 100px;
    padding: 50px 50px;
    border: 4px solid var(--accent);
}

#line1{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

#line2{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

#line3{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

#controller{
    position: absolute;
    z-index: 5;
}

#prev {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--white);
    background-color: var(--accent);
    top: calc(100vh - 283px);
    left: 10px;
}

#next {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--white);
    background-color: var(--accent);
    top: calc(100vh - 283px);
    left: calc(500px - 10px - 2.5rem);
}

#mute {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    line-height: 2.5rem;
    font-size: 2rem;
    border-radius: 1.25rem;
    color: var(--white);
    background-color: var(--accent);
    top: 10px;
    left: 10px;
}

#raw {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    line-height: 2.5rem;
    font-size: 2rem;
    border-radius: 1.25rem;
    color: var(--white);
    background-color: var(--accent);
    top: 10px;
    left: calc(20px + 2.5rem);
}

@media all and (max-width: 500px) {
    #player{
        margin-left: 0px;
        left: 0;
    }

    #line{
        width: 90vw;
        left: 5vw;
    }

    #next {
        left: calc(100vw - 10px - 2.5rem);
    }
}